.partner{
background-image: url(../../assets/travel.png);
margin: 6rem;
padding: 40px 0;
width: auto;
height: 280px;
border-radius: 5px;
}
.partnerBtn{
    width: 25%;
}
.footer{
    background-image: url(../../assets/footer-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
    background-position: top;
    height: 600px;
}
.verticalLine{
    border-left: 2px solid #01db5d;
    height: 300px;
}
.socialIcons{
    margin-top: 20%;
    margin-left: 40px;
}