<nav class="navbar fixed-top navbar-light navbar-expand-sm">
    <div class="container p-0">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" alt="" class="roamLogo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="#planSearch" (click)="showTab(0)" [ngClass]="{'active': activeTabIndex === 0}">Order an eSIM</a>
          <a class="nav-link" href="#">Activate SIM/Device</a>
          <a class="nav-link" href="#testinomial">Testimonial</a>
          <a class="nav-link" href="#">FAQ</a>
          <a class="nav-link" href="#">Contact</a>
        </div>
        <div class="d-flex align-items-center rt mt-2" style="position: relative;">
          <div class="cart-icon">
          <a>
            <button type="button" class="btn Cart_BTN fs-5">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
          </button>
          </a>
        </div>
          <a href="" class="navLast">
         <button class="loginBtn" type="button">Login</button>
        </a>
        </div>
      </div>
  </div>
  </nav>
