.container{  
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border-bottom: 0.5px solid #dadada;
    background: #fff;
    padding: 1rem;
}
.OES{
    padding: 14px 0;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    background-color: black;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
}
.nav-item :hover{
    background-color: #01db5d;
    padding: 14px 0;
    border-radius: 25px;
    font-size: 14px;
    color: #dadada;
}
.cart_icon{
    cursor: pointer;
    padding: 0 1rem 0 2rem;
}
.cart_icon :hover{
    color: #639fff;
}
.login{
    background-color: #01db5d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    padding: 14px 0;
}




