.bgimage{
    color: aliceblue;
    background-image: url(../../assets/roambuddy_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.marginTopForNav {
    margin-top: 78px;
}

.bgimageheading{
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    line-height: 62px;
    width: 60%;
    padding: 3rem;
}
.video-btn{
    border-radius: 50%;
    background-color: #01db5d;
    border-color: #01db5d;
    height: 50px;
    width: 50px;
    background-image: url(../../assets/play-icon-white-png-7.jpg);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.video-btn:hover{
    border: #01db5d 0.5px;
    background-color: transparent;
}
.heroPara{
    font-size: 28px;
    max-width: 500px;
    padding: 3rem ;
}
.bgimage .buttons{
    background-color: #01db5d;
    text-align: center;
    border-radius: 26px;
    color: white !important;
    line-height: 18.9px;
    border-color: none;
    width: 238.3px;
    height: 54px;
    font-size: 18px;
    margin: 3rem;
}

.searchBox{
    margin: 0 auto;
    width: 50%;
    padding: 10px 12px;
    border-radius: 7px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
}
.plansheading{
    font-weight: 800;
    line-height: 0.5;
    font-size: 30px;
    text-transform: uppercase;
}
.unlock_eSim{
    color: #01db5d;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.selectionBar{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.nav-bar{
    background: white;
    padding: 6px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}
a.nav-link.active{
    background-color: #000000;
    color: #fff;
    border-radius: 50px;
}
a.nav-link{
    color: #4a4a4a;
}
a.nav-link:hover{
    background-color: #000000;
    border-radius: 50px;
    color: #ffffff;
}
.countryplans{
    background-color: #e5e5e5;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 4rem;
}

.feedback_heading{
    font-weight: 800;
    line-height: 0.5;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
    .testinomial_container{
    display: flex;
    align-items: center;
    background-color: #01db5d;
    margin: 0 auto;
    border-radius: 30px;
    color: #f0f0f0;
    padding: 2rem; 
}
.pic{
    display: flex;
    flex-direction: column
}
.pic1{
    width: 210px;
}
.description{
    padding: 70px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin: 0;
}
.description::before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 50px;
    color: #fff;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 30px;
    gap: 30px;
}
.countryItem{
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.25s;
    min-height: 55px;
}
.C_name{
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.3333;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
}
.showAll{
    background-color: #707070;
    color: #ffffff;
    width: 30%;
}
.showAll:hover{
    color: #4a4a4a;
    background-color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    .bgimage{
        height: 950px;
        width: 103vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bgimageheading{
        font-size: 44px;
        width: 85%;
        padding: 0 3rem;
    }
    
    .plansheading{
        font-weight: 700;
        line-height: 1.5;
        font-size: 32px;
        text-transform: inherit;
    }
    .container{
        width: 100vh;
    }
    .searchBox{
        width: 80%;
    }
    .nav-bar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      font-size: 20px;
      padding: 6px;
      border-radius: 25px;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    .countryItem{
        display: flex;
        font-size: xx-large;
    }
    .C_name{
        font-size: 1.2rem;
    }
    .showAll{
        width: 70%;
        font-size: x-large;
    }
    .feedback_heading{
        font-weight: 700;
        line-height: 1.5;
        font-size: 32px;
        text-transform: inherit;
        width: 90%;
        margin: 0 auto;
    }
    .testinomial_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #01db5d;
        margin: 0 auto;
        border-radius: 30px;
        color: #f0f0f0;
        padding: 1rem; 
    }
    .pic1{
        margin-top: 1rem;
        width: 300px;
        /* margin: 0 auto; */
    }
    .description{
        padding: 15%;
        font-size: 20px;
    }
}


@media only screen and (min-width: 376px) and (max-width: 576px){
    .bgimage{
        height: 700px;
        
    }
    .bgimageheading{
        font-size: 35px;
        width: 85%;
    }
    .heroPara{
        font-size: 20px;
    }
    .container{
        width: 100vh;
    }
    .plansheading{
    line-height: 1.5;
    }
    .searchBox{
        width: 80%;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 16px;
        padding: 6px;
        border-radius: 25px;
      }
      .grid-container{
        display: flex;
        flex-direction: column;
    }
      .countryItem{
        display: flex;
        font-size: xx-large;
    }
    .C_name{
        font-size: 1.2rem;
    }
    .showAll{
        width: 70%;
        font-size: x-large;
    }
    .feedback_heading{
        font-weight: 700;
        line-height: 1.5;
        font-size: 32px;
        text-transform: inherit;
        width: 90%;
        margin: 0 auto;
    }
    .testinomial_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #01db5d;
        margin: 0 auto;
        border-radius: 30px;
        color: #f0f0f0;
        padding: 1rem; 
    }
    .pic1{
        margin-top: 1rem;
        width: 300px;
        /* margin: 0 auto; */
    }
    .description{
        padding: 15%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 991px){
    .bgimage{
        height: 700px;
        width: 100%;
    }
    .bgimageheading{
        font-size: 35px;
        width: 85%;
    }
    .heroPara{
        font-size: 20px;
    }
    .container{
        width: 100vh;
    }
    .plansheading{
        line-height: 1.5;
        }
    .searchBox{
        width: 80%;
        }
    .nav-bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            font-size: 16px;
            padding: 6px;
            border-radius: 25px;
          }
    .grid-container{
            display: flex;
            flex-direction: column;
        }
    .countryItem{
            display: flex;
            font-size: xx-large;
        }
        .C_name{
            font-size: 1.2rem;
        }
        .showAll{
            width: 70%;
            font-size: x-large;
        }
        .feedback_heading{
            font-weight: 700;
            line-height: 1.5;
            font-size: 32px;
            text-transform: inherit;
            width: 90%;
            margin: 0 auto;
        }
        .testinomial_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #01db5d;
            margin: 0 auto;
            border-radius: 30px;
            color: #f0f0f0;
            padding: 1rem; 
        }
        .pic1{
            margin-top: 1rem;
            width: 300px;
            /* margin: 0 auto; */
        }
        .description{
            padding: 15%;
            font-size: 20px;
        }
}