.bgimage{
    color: aliceblue;
    background-image: url(../../assets/roambuddy_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    margin-bottom: 5rem;
    margin-top: 4rem;
}
.bgimageheading{
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    line-height: 62px;
    width: 60%;
    padding: 3rem;
}
.video-btn{
    border-radius: 50%;
    background-color: #01db5d;
    border-color: #01db5d;
    height: 50px;
    width: 50px;
    background-image: url(../../assets/play-icon-white-png-7.jpg);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.video-btn:hover{
    border: #01db5d 0.5px;
    background-color: transparent;
}
.heroPara{
    font-size: 28px;
    max-width: 500px;
    padding: 3rem ;
}
.bgimage .buttons{
    background-color: #01db5d;
    text-align: center;
    border-radius: 26px;
    color: white !important;
    line-height: 18.9px;
    border-color: none;
    width: 238.3px;
    height: 54px;
    font-size: 18px;
    margin: 3rem;
}
.searchBox{
    margin: 0 auto;
    width: 50%;
    padding: 10px 12px;
    border-radius: 7px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
}
.plansheading{
    font-weight: 800;
    line-height: 0.5;
    font-size: 30px;
    text-transform: uppercase;
}
.unlock_eSim{
    color: #01db5d;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.selectionBar{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
ul{
    background: white;
    padding: 5px;
    border-radius: 25px;
    font-size: 30px;
    padding: 5px;
    
}
.countryplans{
    background-color: #e5e5e5;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 4rem;
}
.categories_Tab{
    border-radius: 25px;
    width: 160px;
    font-weight: 700;
}
.categories_Tab:hover{
    background-color:#01db5d;
    color: #f0f0f0;
    border-radius: 25px;
}
.feedback_heading{
    font-weight: 800;
    line-height: 0.5;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.testinomial_container{
    display: flex;
    align-items: center;
    background-color: #01db5d;
    margin: 0 auto;
    border-radius: 30px;
    color: #f0f0f0;
    padding: 2rem; 
}
.pic{
    width:80%;
    
}
.pic1{
    width: 210px;
}
.description{
    padding: 70px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin: 0;
}
.description::before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 50px;
    color: #fff;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 30px;
    gap: 30px;
}
.countryItem{
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.25s;
    min-height: 55px;
}
.C_name{
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.3333;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
}
/* .country_Esim{
    display: flex;
    justify-content: flex-start;
    
} */
