    <div class="container bgimage">
        <div class="row align-item-end">
            <div class="col -md-12 col-sm-12 heroContent mt-5">
            <h1 class="bgimageheading">Avoid Roaming Bill Shock and Save Over 75% with Roambuddy!
                <button type="button" class="btn btn-primary video-btn"></button>
            </h1>
            <a>
                <button type="button" class="btn btn-hero hover-none buttons text-white border-0 mt-5">Order an eSIM</button>
            </a>
        <div class="row heroPara">
            <div class="col-md-12 col-sm-12">
                <p class="heroParaText" style="color: #f0f0f0;">Data coverage when you want, where you want</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h3 class="plansheading">Search Data Plans for your destination</h3>
                <br>
            </div>
            <div class="col-md-12">
                <div class="searchstart">
                    <span>
                        <input type="search" placeholder="Start searching by country (180+ countries included)" class="form-control searchBox">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mx-auto my-0">
                    <span class="my-2">for unlocked</span>
                    <br>
                    <span class="unlock_eSim">eSIM-enabled devices</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container country_search">
    <div class="row countryplans mt-5">
        <div class="selectionBar col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="nav-bar justify-content-end nav">
                <li>
                    <app-button buttonText="Country eSIM" class="categories_Tab"></app-button>
                </li>
                <li>
                    <app-button buttonText="Regional eSIM" class="categories_Tab"></app-button>
                </li>
                <li>
                    <app-button buttonText="Global eSIM" class="categories_Tab"></app-button>
                </li>
              </ul>
        </div>
            
        </div>
        <div class="testimonial">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <h3 class="feedback_heading">What Our Customer Says About us</h3>
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="testinomial_container">
                        <div class="pic">
                            <img src="../../assets/ewa.png" alt="" class="pic1">
                        </div> 
                        <p class="description">
                            I LOVE Roambuddy! I never travel without it.
                            <br>
                            <br>
                            I work for British Airways as a stewardess and I am often travelling to exotic dream locations such as Mexico, Caribbean, Maldives, Mauritius, USA. Roaming with my home provider tends to be very expensive so I was pleased to buy a Roambuddy device and now I am able to get online wherever I fly to without worrying about bill shock from my home operator! Roambuddy is now an essential item for my travel luggage.
                            <br>
                            <br>
                            -Ewa K.
                        </p>   
                    </div>
                </div>
            </div>
        </div>
    </div>