<div class="card planCard mt-3">
    <div class="card-header">
        <div class="country-name">
            <h6 class="m-0">{{country.name}} 5GB</h6>
            <div class="planAvailBtn" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#workingBtn">
                <span >work in 1 country</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <div class="glob">
                    <img src="../../assets/world_icon.png" alt="">
                </div>
                <div style="margin-left: 20px;">
                    <h6>5 GB</h6>
                    <p style="color: #868e96; font-weight: 300;">Internet Traffic</p>
                </div>
            </div>
            <div class="dBtn">
                <button class="btn dollarBtn" style="background-color: #01DB5D94; color: black; font-weight: 600;">$30</button>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <div class="glob">
                    <img src="../../assets/world_icon.png" alt="">
                </div>
                <div style="margin-left: 20px;">
                    <h6>30 Days</h6>
                    <p style="color: #868e96; font-weight: 300;">Duration</p>
                </div>
            </div>
            <div class="offer">
                <button class="btn offerBtn" style="background-color: #01db5d; color: black; font-weight: 600;">View Offer</button>
            </div>
        </div>
        <div class="container">
            <div class="row" style="display: flex; flex-wrap: wrap;">
                <button class="btn Get_btn">Get for $30
                    <i class="fa fa-shopping-cart"></i>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="workingBtn" tabindex="-1" aria-labelledby="workingBtn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
          <h1 class="modal-title fs-5" id="workingBtn">Coverage</h1>
          <p style="margin-bottom: 0;">1 Country</p>
        </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
      </div>
    </div>
  </div> 